
body {
 background-color:ghostwhite;
}
.page-header {
    height: 100px;
    width: 100%;
    text-align: center;
    
  
  
    
}
.logo {
    margin-left: 20%;
    height:100px;
	width:200px;
    background-image:url(image/logo.png);
    
}
.menu {
    color: gray;
    font-size: 16px;
    height:100px;
	
}
.container {
    margin-top: 2%;
    width: 100%;
}
.menu .navbar-nav a:hover {
    
    /* background: rgb(151, 176, 250); */
  
    color: rgb(15, 93, 236) !important;
    text-decoration:none;
    box-sizing: border-box;
	
}
.menu li.nav-item {
    width: 100%;
    
    
}
.menu ul.navbar-nav {
    width: 100%;
   
}
.banner {
   
    width:100%;
    height: 200px;
    background-image: url(image/background.png);
   
}
.carousel-inner img {
    width: 100%;
    height: 100%;

}

.card {
    width: 100%;
    padding: 20px;
    border: 0px;
   margin-top: 20px;
    text-align: left;
}
.header {
color: rgb(95, 140, 223);
 font-size: 18px;
  margin-top:10px ;
  padding-left: 5%;
}

/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.card-footer {
    padding: 0px;
    border: 0px;
   margin-top: 20px;
    text-align: left;
    

}
section {
    padding: 30px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(19, 79, 107) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.nav-tabs--vertical {
    border-bottom: none;
    border-right: 1px solid #ddd;
    display: flex;
    flex-flow: column nowrap;
  }
  .nav-tabs--left {
    margin: 0 15px;
  }
  .nav-tabs--left .nav-item + .nav-item {
    margin-top: 0.25rem;
  }
  .nav-tabs--left .nav-link {
    transition: border-color 0.125s ease-in;
    white-space: nowrap;
  }
  .nav-tabs--left .nav-link:hover {
    background-color: #f7f7f7;
    border-color: transparent;
  }
  .nav-tabs--left .nav-link.active {
    border-bottom-color: #ddd;
    border-right-color: #fff;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    margin-right: -1px;
  }
  .nav-tabs--left .nav-link.active:hover {
    background-color: #fff;
    border-color: #0275d8 #fff #0275d8 #0275d8;
  }
 .card img {
      width: 150px !important;
      height: 150px !important;
  }